.font{
    font-family: 'Zen Maru Gothic', sans-serif;
}
/* ----------------------ログイン--------------------- */
.login img{
    display: block;
    text-align: center;
    margin:0 auto;
    margin-top:100px;
}

/* ---------------------- ヘッダー ----------------------*/
.header{
    background-color: #008dd5;
    display: flex;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
}
.header h1{
    color:#fff;
    font-size:30px;
}
.header a{
    text-decoration: none;
    color:#fff;
    position: absolute;
    right: 0;
    font-size:20px;
    font-weight: bold;
    margin-right:10px;
    transition: .3s;
}
.header a:hover{
    color:rgb(181, 181, 181);
    transition: .3s;
}
.main{
    margin:0 auto;
    text-align: center;
}
/* ---------------------- main画面 ----------------------*/
.main_button{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 1em;
    transition: .3s;
}
.add{
    background-color: #E43F6F;
}
.add:hover{
    background-color: #dd7693;
}
.done {
    border-radius : 50%;
    padding       : 1px;
    color         : rgba(255, 255, 255, 0);
    border        : 2px solid rgba(0, 0, 0, 0.1);
}
.done:hover {
    color         : rgb(32, 191, 85);
    transition    : .3s;
}
.add,
.update,
.delete{
    border-radius : 25%;
    padding       : 8px;
    color         : #fff;
    line-height   : 1em;
    border        : 1px solid #fff;
    transition    : .3s;
}
.update{
    background-color: rgb(112, 11, 255);
    margin-left:8px;
}
.update:hover{
    background-color: rgb(160, 99, 245);
    transition    : .3s;
}
.delete{
    background-color: rgb(216, 0, 50);
}
.delete:hover{
    background-color: rgb(220, 100, 114);
    transition    : .3s;
}
.add_form{
    margin:20px auto;
}
.task_input{
    font-size: 100%;
}
input[type="text"]:focus ,
input[type="datetime-local"]:focus {
    outline:none;
    border: solid 2px rgb(32, 191, 85);
}
.task_table{
    margin-top:60px;
}
.task_table table{
    margin:0 auto;
}
.theader{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 20px;
}

.no_task{
    margin-top:100px;
    margin-bottom: 200px;
}
.no_task p{
    font-size: 20px;
}
.done_table .done_title{
    font-size:20px;
    padding-bottom: 10px;
}
.table_check{
    padding:5px 0;
    color:rgb(32, 191, 85);
    vertical-align: bottom;
}
.done_task_td{
    vertical-align: middle;
}
@media only screen and (min-width:426px){
    .td{
        padding:10px;
    }
}

@media only screen and (max-width:425px){
    .task_add,
    .task_add_date{
        margin:5px auto;
        display:block;
    }
    .td{
        margin:4px;
    }
    .task_add_input input{
        width:100px;
    }
    .limit_date{
        margin:0 2px;
    }
}
